@font-face {
  font-family: "Merriweather";
  src: url("../public/fonts/Merriweather/Merriweather-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("../public/fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Merriweather", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.swiper-container {
  position: relative;
  margin: auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-size: 18px;
}

.bg-radial-gradient {
  background: radial-gradient(
    circle at center,
    #fed7cf 30%,
    rgba(255, 255, 255, 0.5) 50%,
    white 70%
  );
}

@keyframes rotate-90-wait {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotate-90-wait {
  animation: rotate-90-wait 4s linear infinite;
}

.variant-1{
  @apply bg-[#6A302F] text-base text-white text-center px-4 py-2 rounded-xl
}