@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-container {
  position: relative;
  margin: auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-size: 18px;
}

body {
  font-family: 'Forum', sans-serif;
}